@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$colors:(
    backgroundPrimary: rgb(227, 223, 217),
    backgroundSecondary: darken(rgb(227, 223, 217), 2.5%),
    footer: darken(rgb(227, 223, 217), 7.5%),
    standardGradient: linear-gradient(90deg, rgba(238,36,78,1) 0%, rgba(247,148,29,1) 100%),
    darkerGradient: linear-gradient(90deg, rgba(238,36,78,0.8) 0%, rgba(247,148,29,0.8) 100%),
    Orange: rgba(247,148,29,0.8)
);

@function setColor($colorName)
{
    @return map-get($colors , $colorName)
};

body
{
    font-family: 'Montserrat', sans-serif;
}

#contentContainer {
    margin: auto;
    width: 50%;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;

    h1{
        font-size: 5vh;
    }
    p{
        padding-bottom: 10px;
    }
    li{
        font-size: 2vh;
        padding-bottom: 1em;
    }

    #titleCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        cursor: pointer;
        padding: 0em 2em 0em 2em;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(.55,.06,.68,.19);
        
        h2 {
            font-size: 3vh;
            font-weight: 450;
        }

        p {
            font-size: 3vh;
            font-weight: 250;
            align-self: flex-end;
        }

        &:hover
        {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    }
}

.courseContent {
    p {
        font-weight: 350;
        font-size: 2vh;
        padding-top: 1em;
    }
}

.courseHidden {
    display: none;
}

.formEmbed
{
    display: block;
    margin: auto;
    text-align: center;
}

.docEmbed
{
    width: 90%;
    height: 540px;
    display: block;
    margin: auto;
    border: none;
}

.learningTag
{
    background: setColor(darkerGradient);
    padding: 0.5em;
    border-radius: 25px;
    color: white;
}

.imageContainer
{
    display: block;
    width: 90%;
    margin: auto;

    img
    {
        width: 47%;
        vertical-align: middle;
    }
}

.fullWidthImage
{
    display: block;
    max-width: 95%;
    margin: auto;
    margin-bottom: 25px;
    max-height: 50vh;
}

a{
    text-decoration: none;
    color: setColor(Orange);
    cursor: pointer;
    transition-duration: 500ms;

    &:visited
    {
        text-decoration: none;
        color: setColor(Orange);
    }

    &:hover
    {
        text-decoration: underline;
    }
}