#contentContainer {
    margin: auto;
    width: 50%;
    padding-top: 12.5vh;

    #titleCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        cursor: pointer;
        padding: 0em 2em 0em 2em;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(.55,.06,.68,.19);

        h2 {
            font-size: 3vh;
            font-weight: 450;
        }

        p {
            font-size: 3vh;
            font-weight: 250;
            align-self: flex-end;
        }

        &:hover
        {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    }
}

.courseContent {
    p {
        font-weight: 350;
        font-size: 2vh;
        padding-top: 1em;
    }
}

.courseHidden {
    display: none;
}