$colors:(
    backgroundPrimary: rgb(227, 223, 217),
    backgroundSecondary: darken(rgb(227, 223, 217), 2.5%),
    footer: darken(rgb(227, 223, 217), 7.5%),
    standardGradient: linear-gradient(90deg, rgba(238,36,78,1) 0%, rgba(247,148,29,1) 100%),
    darkerGradient: linear-gradient(90deg, rgba(238,36,78,0.8) 0%, rgba(247,148,29,0.8) 100%)
);

@function setColor($colorName)
{
    @return map-get($colors , $colorName)
};

body
{
    background: setColor(backgroundPrimary);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p
{
    color: #000000;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}

h1
{
    font-size: 80px;
}

#burgerContainer
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba($color: #000000, $alpha: 0.5);
    display: none;
    transition-duration: 1s;
}

#burgerOut
{
    position: fixed;
    height: 100vh;
    width: 30vw;
    background: setColor(backgroundPrimary);
    left: 70vw;
}

header
{
    height: 9vh;
    flex-basis: 100%;
}

#burgerMenu, #burgerMenuClose
{
    left: 93vw;
    top: 3vw;
    position: fixed;
    text-align: right;
    border-radius: 50px;
    height: 4em;
    width: 4em;
    text-align: center;
    font-size: 1rem;
    background: none;
    border-style: none;
    cursor: pointer;
    transition-duration: 500ms;
}

#burgerMenu
{
    background-image: url(/Images/burgerManu_default.svg);

    &:hover
    {
        background-image: url(/Images/burgerManu_hover.svg);
    }
}

#burgerMenuClose
{
    background-image: url(/Images/Close_Menu.svg);

    &:hover
    {
        background-image: url(/Images/Close_Menu_Hover.svg);
    }
}

#burgerIconContainer
{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 30%;
}

#burgerIconContainer .menuText
{
    font-size: 3.5vh;
    margin: 0;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #000000d4;
    font-weight: lighter;
}

#burgerIconContainer .menuText span
{
    cursor: pointer;
    transition-duration: 250ms;

    &:hover
    {
        padding: 10px 25% 10px 25%;
        background: setColor(standardGradient);
        border-radius: 100px;
        color: white;
    }
}

#burgerIconContainer hr
{
    border-style: solid;
    border-width: 0.15em;
    border-radius: 50px;
    border-image-source: setColor(darkerGradient);
    border-image-slice: 1;
}

#landingContainer
{
    margin: auto;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation-name: landingHeader;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#landingContainer h1
{
    font-size: 8vh;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 15px;

}

@keyframes landingHeader
{
    0% {padding-top: 1em; opacity: 0%;}
    50% {opacity: 100%;}
    100%{padding-top: 0em; opacity: 100%;}
}

#landingContainer p
{
    font-size: 2vh;
    color: #000000;
}

#landingContent
{
    margin: auto;
    margin-top: 0;
    display: flex;
    width: 70%;
    text-align: center;
    vertical-align: middle;
}

#landingContent img
{
    height: 40vh;
    vertical-align: middle;
}

#portraitContainer
{
    flex-basis: 40%;
    text-align: right;
}

#landingTextContent
{
    text-align: left;
    flex-basis: 60%;
}

#landingButtonContainer
{
    display: flex;
    justify-content: left;
    margin-top: 7vh;
}

#mainButton
{
    height: 6vh;
    margin-right: 1.5em;
    font-size: 2.25vh;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding-right: 2em;
    padding-left: 2em;
    border-style: none;
    background: setColor(standardGradient);
    cursor: pointer;
    transition-duration: 300ms;

    &:hover{
        background: setColor(darkerGradient);
        border-radius: 25px;
    }
}

#secondaryButton
{
    height: 6vh;
    margin-right: 2.5em;
    font-size: 2vh;
    border-radius: 15px;
    padding-right: 2em;
    padding-left: 2em;
    background: none;
    border-style: solid;
    border-color: rgba(247,148,29,1);
    cursor: pointer;
    transition-duration: 300ms;
    color: #0000009f;

    &:hover
    {
        background: setColor(darkerGradient);
        border-radius: 25px;
        color: white;
        border-style: none;
    }
}

#pageContainer
{
    margin: 0;
    background-color: setColor(backgroundSecondary);
    height: 100vh;
    width: 100%;
}

#scrollText
{
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding-top: 2em;
    animation-name: textScroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes textScroll
{
    0% {padding-top: 2em; opacity: 100%;}
    25% {opacity: 95%;}
    100% {padding-top: 3em; opacity: 0%;}
}

#pageContentContainer
{
    width: 60%;
    margin: auto;
    padding-top: 12.5vh;

    h1
    {
        font-size: 8vh;
        margin-bottom: 0.25em;
    }
}

.courseContainer
{
    display: flex;
    flex-wrap: wrap;

    p
    {
        flex-basis: 25%;
        text-align: center;
        margin-top: 2em;
        font-weight: lighter;
    }
}

.courseButton
{
    margin:auto;
    margin-top: 10vh;
    width: 20%;
    flex-basis: 20%;
    align-content: space-between;

    &:hover
    {
        background: rgba(0, 0, 0, 0.150);
        border-radius: 50px;
    }
}

footer
{
    height: 25vh;
    width: 100%;
    background-color: setColor(footer);
}